# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS
.DS_Store
Thumbs.db

# Data
data/raw/
data/cache/

# Model artifacts (optional if large)
*.pkl

# Chroma database
chroma_db/

# Logs
*.log

# dataset
data/raw/

# vector db
chroma_db/

# cache
data/cache/

# models
*.pkl